<!--<div class="row">-->
<!--<div class="col-lg-12 col-md-12" id="gerechtDetail">-->


  <!--<div class="col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 ">-->
    <!--&lt;!&ndash;titel&ndash;&gt;-->
    <!--<h2>Gerecht naam :  {{gerechtList.title}}</h2>-->
  <!--</div>-->
  <!--<div class="clearfix"></div>-->

  <!--<div class="col-md-3">-->
    <!--&lt;!&ndash;foto gerecht&ndash;&gt;-->
    <!--<img src="{{gerichtList.image}}" alt="" class="gerechtImg">-->
  <!--</div>-->



  <!--<div class="col-md-9">-->
    <!--&lt;!&ndash;beschrijving&ndash;&gt;-->
    <!--<p>Is het vegetarisch: {{gerechtlist.vegetarian}}</p>-->
    <!--<p>Is het veganistisch: {{gerechtlist.vegan}}</p>-->
    <!--<p>Bereidingstijd (in min): {{gerechtlist.readyInMinutes}}</p>-->
    <!--<p>Voor aantal personen: {{gerechtlist.servings}}</p>-->
    <!--<p>Voor meer info : {{gerechtlist.sourceUrl}}</p>-->
    <!--<p> Uitleg: {{gerechtlist.instructions}}</p>-->




    <!--&lt;!&ndash;lijst van ingredienten&ndash;&gt;-->



    <!--&lt;!&ndash;knop collect & go&ndash;&gt;-->

  <!--</div>-->
<!--</div>-->
<!--</div>-->
