<div class="row">
<div [hidden]="visible"   class="col-lg-12 col-md-12" id="gerechtDetail" >


  <div class="col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 ">
    <!--titel-->
    <h2>Recipe name: {{gerechtlist[0].title}}</h2>
    <hr>
  </div>
  <div class="clearfix"></div>

  <div class="col-md-3 col-lg-3">
    <!--foto gerecht-->
    <img src="{{gerechtlist[0].image}}" alt="{{gerechtlist[0].title}}" class="gerechtImg img-responsive">
  </div>



  <div class="col-md-9 col-lg-9">
    <h3>Explenation:</h3>
    <p> {{gerechtlist[0].instructions}}</p>
    <h3>For more info go to : </h3>
    <p>{{gerechtlist[0].sourceUrl}}</p>
    <!--beschrijving-->
    <!---->
  </div>
  <div class="clearfix"></div>


  <div class="col-md-6">
    <h3>Ready in (in min): </h3>
    <p>{{gerechtlist[0].readyInMinutes}}</p>

    <h3>Serving:</h3>
    <p> {{gerechtlist[0].servings}}</p>
    <h3>Vegetarian:</h3>
    <p> {{gerechtlist[0].vegetarian}}</p>
    <h3>Vegan:</h3>
    <p> {{gerechtlist[0].vegan}}</p>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <button class="zoek btn" (click)="onFavorite(gerechtlist[0].title, gerechtlist[0].id)">Favorite
        </button>
      </div>

    <div class="col-xs-6">
        <button class="zoek btn" (click)="collect()">Collect & Go</button>
      </div>
    </div>
    <!--lijst van ingredienten-->




</div>
</div>
