<div class="row">
<div [hidden]="visible"   class="col-lg-12 col-md-12" id="gerechtDetail" >


  <div class="col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 ">
    <!--titel-->
    <h2>Gerecht naam :  {{gerecht.title}}</h2>
  </div>
  <div class="clearfix"></div>

  <div class="col-md-3 col-lg-3">
    <!--foto gerecht-->
    <img src="{{gerechtlist.image}}" alt="{{gerechtlist.title}}" class="gerechtImg img-responsive">
  </div>



  <div class="col-md-9 col-lg-9">
    <!--beschrijving-->
    <p>Bereidingstijd (in min): {{gerechtlist.readyInMinutes}}</p>
    <p>Voor aantal personen: {{gerechtlist.servings}}</p>
    <p>Is het vegetarisch: {{gerechtlist.vegetarian}}</p>
    <p>Is het veganistisch: {{gerechtlist.vegan}}</p>

    <p>Voor meer info : {{gerechtlist.sourceUrl}}</p>
    <p> Uitleg: {{gerechtlist.instructions}}</p>



    <div class="row">
      <div class="col-xs-12">
        <button class="zoek btn" (click)="onFavo()">Steek in favoriete</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="zoek btn" (click)="collect()">Collect & Go</button>
      </div>
    </div>
    <!--lijst van ingredienten-->



    <!--knop collect & go-->

  </div>
</div>
</div>
