.gerechtImg{
  width: 400px;
}
h2{
  color: darkorange;
}


[hidden] {
  display: none !important;
}
.zoek{
  position:relative;
  padding:12px 30px;
  font-size: medium;
  font-weight: 600;
  border:2px solid darkorange;
  background-color:darkorange;
  color:#fafafa;
}
.zoek:hover {
  background-color:#fafafa;
  color: orangered;
}
