.item-box{
  background-color: rgba(255, 140, 0, 0.7);
  margin: 2px;
  min-height:12em;
  text-align: center;
  position: relative;
  display: table-cell;

}
.item-box h3{
  position: absolute;
  float: left;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}
.item-box a{
  cursor: pointer;
  position: absolute;
  left:93%;
  top: 2%;
  color: white;
}
