<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-xs-10">
    <app-header></app-header>
  </div>
  <div class="col-xs-2">
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
            <app-account></app-account>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row plank" style="margin-top: 20px;">
  <div class="col-xs-2">
    <img src="../assets/img/kitchen-knife-flat-vector.png" alt="">
  </div>
  <div class="col-xs-4">
    <app-gerecht></app-gerecht>
  </div>
  <div class="col-xs-6 ">
  <div class="col-xs-12 ">
    <app-ingredient></app-ingredient>
  </div>
  </div>

</div>





