<div *ngIf="!authservice.isAuthenticated()">
  <form (ngSubmit)="onSignin(f)" #f="ngForm">
    <p>please sign in to get access to store recipes</p>
    <div class="form-group">
      <label for="email">email</label>
      <input type="email" id="email" name="email" ngModel>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" id="password" name="password" ngModel>
    </div>
    <button type="submit">Sign in</button>
  </form>
  <p>Don't have an account yet? <a routerLink="/SignUp">Sign up here.</a></p>
</div>
<div *ngIf="authservice.isAuthenticated()">
  <p>Welcome</p>
  <p><a style="cursor: pointer" (click)="onLogOut()">Log out.</a></p>
  <app-account-history></app-account-history>
</div>
